body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 1fr);
}

p{
    color: white;
}

span{
    color: white;
}

#game-visual{
    grid-area: 2 / 1 / 3 / 2;
    background-color: white;
}

#game-info{
    grid-area: 3 / 1 / 4 / 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    border-style: solid;
}



#buildings{
    grid-area: 1 / 2 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    row-gap: 5px;
}

#buildings img{
    height: 35px;
}

.custombutton{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    border-style: solid;
    border-color: white;
    width: 90%;

}

.customUpgradebutton{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    border-style: solid;
    border-color: white;
    margin: 10px;
}

.customUpgradebutton:hover{
    scale: 1.01;
    transition-duration: 250ms;
}


.custombutton:hover{
    scale: 1.05;
    transition-duration: 250ms;
}


#upgrades{
    grid-area: 1 / 3 / 3 / 3;
}

#upgrades #farm2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


#forage:hover{
    scale: 1.01;
}