body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 1fr);
}

#navForPhone{
    visibility: hidden;
}

#buttonList{
    display: none;
    max-width: 100vw;
}

#buttonList:only-child{
    display: none;
}

header h1{
    color: white;
}

p{
    color: white;
}

span{
    color: white;
}

#game-visual{
    grid-area: 2 / 1 / 3 / 2;
    background-color: white;
    border-style: solid;
    border-radius: 5%;
    margin: 10px;
}

#game-info{
    grid-area: 3 / 1 / 4 / 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border-style: solid;
    background-color: rgb(20, 20, 20);
    border-radius: 5%;
    margin: 10px;
}

#game-info span :nth-child(2){
    display: grid;
    justify-items: center;
    align-items: center;
}

#Allstone :nth-child(2){
    background-image: url("img/stone.jpg");  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke: 0.04px white;
    mix-blend-mode: lighten;
    text-transform: uppercase;
    font-weight: 800;
}

#Allfood :nth-child(2){
    background-image: url("img/food.jpg");  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.02px white; 
    mix-blend-mode: lighten;
    text-transform: uppercase;
    font-weight: 800;
}

#Allwood :nth-child(2){
    background-image: url("img/wood.jpg");  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.04px white; 
    mix-blend-mode: lighten;
    text-transform: uppercase;
    font-weight: 800;
}

#buildings{
    grid-area: 1 / 2 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    row-gap: 5px;
    border-style: solid;
    background-color: rgb(20, 20, 20);
    border-radius: 5%;
    margin: 5px;
}

#buildings img{
    height: 35px;
}

.custombutton{
    display: grid;
    background-color: black;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    border-style: solid;
    border-color: white;
    width: 90%;
}



.customUpgradebutton{
    display: grid;
    background-color: black;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    border-style: solid;
    border-color: white;
    margin: 10px;
}



.customUpgradebutton:hover{
    scale: 1.01;
    transition-duration: 250ms;
}


.custombutton:hover{
    scale: 1.05;
    transition-duration: 250ms;
}


#sectionForBuildings {
    grid-area: 1 / 2 / 4 / 2;
    
}

#upgrades{
    display: grid;
    grid-area: 1 / 3 / 2 / 3;
    background-color: rgb(20, 20, 20);
    border-style: solid;
    border-radius: 5%;
    background-color: rgb(20, 20, 20);
    margin: 10px;
    justify-content: center;
    align-items: center;
}



#playerOptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    border-style: solid;
    border-radius: 5%;
    row-gap: 10px;
}



#forage:hover{
    scale: 1.01;
}

#mining:hover{
    scale: 1.01;
}

#woodcutting:hover{
    scale: 1.01;
}

@media only screen and (max-width: 768px) {    
    
    body{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 400px;
    }

    #buttonList{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custombuttonList{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        height: 100px;
        border-style: solid;
        border-radius: 5%;
        background-color: rgb(20, 20, 20);
        margin: 5px;

    }

    #Allstone:nth-child(2){
        font-weight: 1000;
    }
    

    #upgrades{
        display: none;
        grid-area: 5 / 1 / 5 / 1;
        max-width: 100vw;
        background-color: rgb(20, 20, 20);
        border-style: solid;
        border-radius: 5%;
        background-color: rgb(20, 20, 20);
        margin: 10px;
    }

    #buildings{
        display: none;
        grid-area: 5 / 1 / 5 / 1;
        row-gap: 5px;
        border-style: solid;
        background-color: rgb(20, 20, 20);
        border-radius: 5%;
        margin: 5px;
        width: 400px;
    }

    #playerOptions{
        display: none;
        grid-area: 5 / 1 / 5 / 1;
        background-color: rgb(20, 20, 20);
        border-style: solid;
        border-radius: 5%;
        background-color: rgb(20, 20, 20);
        margin: 5px;
        width: 400px;
    }

    #game-info{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header{
        align-self: center;
    }

}